$colors: (
  primary: (
    100: hsl(237, 18%, 59%),
    500: hsl(345, 95%, 68%),
  ),
  neutrals: (
    100: hsl(0, 0%, 100%),
    400: hsl(236, 21%, 26%),
    500: hsl(235, 16%, 14%),
    600: hsl(234, 17%, 12%),
  ),
);
